<div id="wrapper">
<%- include("../partials/header.ejs") %>

<body>
    <h1>Write a post</h1>
    <form action="/compose" method="post">
        <label for="postTitle">Title</label><br>
        <input type="text" name="title" placeholder="Title" required>
        <label for="postContent">Content</label><br>
        <input type="text" name="content" placeholder="Compose" required>  
    
        <button type="submit">Submit your post!</button>
    
</body>

<%- include("../partials/footer.ejs") %>
</div>